.btn-primary {
  color: hsl(var(--clr-primary));
  background-color: hsl(var(--clr-secondary));
  text-decoration: none;

  font-family: var(--ff-primary);
  font-size: var(--fs-4);
  text-transform: uppercase;

  width: clamp(150px, 31.5vw, 274px);
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
