.loader {
  position: fixed;
  inset: 0;
  background-color: var(--clr-neutral);
}

.logo {
  position: relative;
  z-index: -10;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(2);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
