.menu {
  counter-reset: menuLink;
  background-color: hsla(var(--clr-secondary), 4%);
  position: absolute;
  /* From https://css.glass */
  background-color: hsla(var(--clr-secondary), 4%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  top: 0;
  right: 0;
}
@media (min-width: 1200px) {
  .menu {
    position: relative;
  }
  .menu::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    left: -450px;
    height: 2px;
    width: 473px;
    background-color: hsl(var(--clr-secondary), 20%);
  }
}
