.logo {
  width: clamp(40px, 7vw, 48px);
}
.navbar {
  padding-inline: 6.4%;
}
.menu {
  display: none;
}
.btnToggle {
  right: var(--space-sm);
  z-index: 200;
}
@media (min-width: 376px) {
  .navbar {
    padding-inline: 5%;
  }
}
@media (min-width: 768px) {
  .menu {
    display: block;
  }
  .btnToggle {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar {
    padding-inline: 3.82% 0;
  }
}
