.bg {
  background-image: url("../../assets/crew/background-crew-mobile.jpg");
}
@media (min-width: 768px) {
  .bg {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
}
@media (min-width: 992px) {
  .bg {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }
}

.container {
  width: 85%;
}
@media (min-width: 768px) {
  .container {
    width: 75%;
  }
}

.illustration {
  height: clamp(223px, 60vw, 300px);
  max-width: none;
}
@media (min-width: 768px) {
  .illustration {
    position: absolute;
    height: 50vh;
    bottom: 0;
  }
}
@media (min-width: 992px) {
  .container {
    width: 80%;
  }
  .container > * {
    width: 30%;
  }
  .illustration {
    height: 50vw;
    max-height: 700px;
    right: 10%;
    z-index: -10;
  }
}
