.bg {
  background-image: url("../../assets/crew/background-crew-mobile.jpg");
}
@media (min-width: 768px) {
  .bg {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
}
@media (min-width: 992px) {
  .bg {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }
}

.container {
  width: 87%;
}

.illustration {
  height: clamp(222px, 55vw, 300px);
  max-width: none;
}
@media (min-width: 768px) {
  .illustration {
    position: absolute;
    bottom: 0;
    z-index: -10;

    display: none;
  }

  .container {
    width: 66%;
  }
  .container > :last-child {
    height: 232px;
  }
}
@media (min-width: 768px) and (min-height: 750px) {
  .illustration {
    display: block;

    height: 40vh;
  }
}
@media (min-width: 768px) and (min-height: 950px) {
  .illustration {
    height: 51.95vh;
  }
}

@media (min-width: 992px) {
  .container {
    width: 77%;
  }
  .container > :last-child {
    height: 300px;
    max-width: 40%;
  }
  .illustration {
    display: block;
    height: clamp(400px, 35vw, 500px);
    right: 10%;
  }
}

@media (min-width: 992px) and (min-height: 750px) {
  .illustration {
    height: clamp(450px, 40vw, 550px);
  }
}
@media (min-width: 992px) and (min-height: 850px) {
  .illustration {
    height: clamp(500px, 50vw, 650px);
  }
  .container > :last-child {
    height: 406px;
  }
}
