.bg {
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
}
@media (min-width: 576px) {
  .bg {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
}
@media (min-width: 992px) {
  .bg {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
}

.illustration {
  width: clamp(170px, 40vw, 445px);
}

.container {
  width: 85%;
}
@media (min-width: 992px) {
  .container {
    width: 75%;
    column-gap: 10%;
  }
  .container > * {
    width: 50%;
  }
}
