.bg {
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
}
@media (min-width: 576px) {
  .bg {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
}
@media (min-width: 992px) {
  .bg {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
}

.illustration {
  width: clamp(170px, 40vw, 445px);
  max-width: 370px;
}

.container {
  width: 85%;
}
@media (min-width: 576px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .container {
    column-gap: 10%;
  }

  .container > :last-child {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .container {
    column-gap: 15%;
  }

  .container > :last-child {
    width: 50%;
  }
}

@media (min-width: 992px) and (min-height: 750px) {
  .illustration {
    max-width: 410px;
  }
}
@media (min-width: 992px) and (min-height: 850px) {
  .container > :last-child {
    width: 445px;
    height: 472px;
  }
  .illustration {
    max-width: 445px;
  }
}
