.bg {
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
}
@media (min-width: 576px) {
  .bg {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
}

.illustration {
  width: clamp(170px, 40vw, 445px);
}
