.bg {
  background-image: url("../../assets/home/background-home-mobile.jpg");
  background-position: bottom;
}
@media (min-width: 576px) {
  .bg {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}
@media (min-width: 992px) {
  .bg {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }
}
@media (min-width: 992px) {
  .container > * {
    width: 40%;
  }
}
