.bg {
  background-image: url("../../assets/technology/background-technology-mobile.jpg");
}
@media (min-width: 768px) {
  .bg {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
}
@media (min-width: 992px) {
  .bg {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
}

.container {
  width: 90%;
}
@media (min-width: 768px) {
  .container {
    width: 59.5%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 50%;
  }

  .illustration {
    position: absolute;
    right: 0;
    bottom: 8%;
    width: clamp(250px, 25%, 390px);
  }

  .carouselButtons {
    height: 304px;
  }
}

@media (min-width: 992px) and (min-height: 750px) {
  .illustration {
    width: clamp(300px, 30%, 400px);
    bottom: 20%;
  }
}
