/* Display */
.d-none {
  display: none;
}

/* Flex */
.flex {
  display: flex;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
.col-gap-3xs {
  column-gap: var(--space-3xs);
}
.col-gap-xxs {
  column-gap: var(--space-xxs);
}
.col-gap-xs {
  column-gap: var(--space-xs);
}
.col-gap-sm {
  column-gap: var(--space-sm);
}
.col-gap-md {
  column-gap: var(--space-md);
}
.col-gap-lg {
  column-gap: var(--space-lg);
}
.col-gap-xl {
  column-gap: var(--space-xl);
}
.col-gap-xxl {
  column-gap: var(--space-xxl);
}
.col-gap-3xl {
  column-gap: var(--space-3xl);
}
.col-gap-4xl {
  column-gap: var(--space-4xl);
}
.row-gap-xxs {
  row-gap: var(--space-xxs);
}
.row-gap-3xs {
  row-gap: var(--space-3xs);
}
.row-gap-xs {
  row-gap: var(--space-xs);
}
.row-gap-sm {
  row-gap: var(--space-sm);
}
.row-gap-md {
  row-gap: var(--space-md);
}
.row-gap-xxl {
  row-gap: var(--space-xxl);
}

/* Margins */
.mx-auto {
  margin-inline: auto;
}
.mg-top-3xs {
  margin-top: var(--space-3xs);
}
.mg-top-xxs {
  margin-top: var(--space-xxs);
}
.mg-top-xs {
  margin-top: var(--space-xs);
}
.mg-top-sm {
  margin-top: var(--space-sm);
}
.mg-top-md {
  margin-top: var(--space-md);
}
.mg-top-lg {
  margin-top: var(--space-lg);
}
.mg-top-xl {
  margin-top: var(--space-xl);
}
.mg-btm-sm {
  margin-bottom: var(--space-sm);
}
.mg-btm-md {
  margin-bottom: var(--space-md);
}
.mg-btm-lg {
  margin-bottom: var(--space-lg);
}
.mg-btm-xxl {
  margin-bottom: var(--space-xxl);
}
.mg-left-lg {
  margin-left: var(--space-lg);
}

/* Paddings */
.pd-xxs {
  padding: var(--space-xxs);
}
.pd-sm {
  padding: var(--space-sm);
}
.pd-block-3xs {
  padding-block: var(--space-3xs);
}
.pd-block-xxs {
  padding-block: var(--space-xxs);
}
.pd-block-sm {
  padding-block: var(--space-sm);
}
.pd-inline-xs {
  padding-inline: var(--space-xs);
}
.pd-block-xs {
  padding-block: var(--space-xs);
}
.pd-block-md {
  padding-block: var(--space-md);
}
.pd-block-lg {
  padding-block: var(--space-lg);
}
.pd-block-xl {
  padding-block: var(--space-xl);
}
.pd-inline-md {
  padding-inline: var(--space-md);
}
.pd-inline-lg {
  padding-inline: var(--space-lg);
}
.pd-inline-3xl {
  padding-inline: var(--space-3xl);
}
.pd-top-md {
  padding-top: var(--space-md);
}
.pd-top-lg {
  padding-top: var(--space-lg);
}

/* Background colors */
.bg-neutral {
  background-color: hsl(var(--clr-neutral));
}
.bg-secondary {
  background-color: hsl(var(--clr-secondary));
}

/* Headings */
.heading-1 {
  font-size: var(--fs-1);
}
.heading-2 {
  font-size: var(--fs-2);
}
.heading-3 {
  font-size: var(--fs-3);
}
.heading-4 {
  font-family: var(--ff-primary);
  font-size: var(--fs-4);
  color: hsl(var(--clr-secondary), 50%);
}
.heading-5 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-5);
  letter-spacing: var(--ls-3);
  color: hsl(var(--clr-neutral));
  font-weight: 400;
}
.page-heading {
  font-family: var(--ff-secondary);
  font-size: var(--fs-5);
  letter-spacing: var(--ls-3);
}

.subheading-1 {
  font-family: var(--ff-primary);
  font-size: 1.75rem;
  color: hsl(var(--clr-secondary));
}
.subheading-2 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-7);
  letter-spacing: var(--ls-1);
}

.heading-1,
.heading-4,
.heading-3,
.heading-5,
.subheading-1,
.subheading-2 {
  text-transform: uppercase;
  white-space: nowrap;
}

/* Typography */
.ff-primary {
  font-family: var(--ff-primary);
}
.ff-secondary {
  font-family: var(--ff-secondary);
}
.txt-upper {
  text-transform: uppercase;
}
.txt-primary {
  color: hsl(var(--clr-primary));
}
.txt-secondary {
  color: hsl(var(--clr-secondary));
}
.txt-neutral {
  color: hsl(var(--clr-neutral));
}
.txt-ls-1 {
  letter-spacing: var(--ls-1);
}
.txt-fs-7 {
  font-size: var(--fs-7);
}
.txt-align-start {
  text-align: start;
}

/* Core */
.underlined,
.hover-underlined {
  position: relative;
}
.underlined::after,
.hover-underlined::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: currentColor;
  position: absolute;
  bottom: 0;

  transition: transform 150ms ease-out;
}
.hover-underlined::after {
  transform: scaleX(0);
}

.hover-underlined:hover::after,
.underlined::after {
  transform: scaleX(1);
}

.border {
  border-style: solid;
}

.border-1 {
  border-width: 1px;
}
/* Border */
.border-secondary {
  border-color: hsl(var(--clr-secondary));
}

/* Hover */
.hover-bg-secondary:hover {
  background-color: hsl(var(--clr-secondary));
}
.hover-txt-primary:hover {
  color: hsl(var(--clr-primary));
}
.round {
  border-radius: 50%;
}

.square {
  aspect-ratio: 1;
}

/* sm screen size mq (576px)*/
@media (min-width: 576px) {
  /* Flex */
  .flex-sm-row {
    flex-direction: row;
  }
  .row-gap-sm-xxs {
    row-gap: var(--space-xxs);
  }
  .row-gap-sm-xs {
    row-gap: var(--space-xs);
  }
  .row-gap-sm-4xl {
    row-gap: var(--space-4xl);
  }

  /* Margins */
  .mg-top-sm-xxl {
    margin-top: var(--space-xxl);
  }
  .mg-top-sm-sm {
    margin-top: var(--space-sm);
  }
  .mg-top-sm-md {
    margin-top: var(--space-md);
  }
  .mg-top-sm-lg {
    margin-top: var(--space-lg);
  }
  .mg-btm-sm-md {
    margin-bottom: var(--space-md);
  }
  .mg-btm-sm-lg {
    margin-bottom: var(--space-lg);
  }
  .mg-btm-sm-xl {
    margin-bottom: var(--space-xl);
  }
  .mg-left-sm-lg {
    margin-left: var(--space-lg);
  }

  /* Typography */
  .txt-align-sm-start {
    text-align: start;
  }
}

/* md screen size mq (768px) */
@media (min-width: 768px) {
  .flex-md-col-reverse {
    flex-direction: column-reverse;
  }

  .d-md-none {
    display: none;
  }

  .mg-top-md-sm {
    margin-top: var(--space-sm);
  }
  .mg-top-md-md {
    margin-top: var(--space-md);
  }
  .mg-top-md-lg {
    margin-top: var(--space-lg);
  }

  .justify-md-start {
    justify-content: start;
  }
}

/* lg screen size mq (992px)*/
@media (min-width: 992px) {
  /* Flex */
  .align-lg-start {
    align-items: start;
  }
  .align-lg-end {
    align-items: end;
  }
  .align-lg-end {
    align-items: end;
  }
  .flex-lg-row {
    flex-direction: row;
  }
  .flex-lg-row-reverse {
    flex-direction: row-reverse;
  }
  .row-gap-lg-xxl {
    row-gap: var(--space-xxl);
  }
  .row-gap-lg-3xl {
    row-gap: var(--space-3xl);
  }

  /* Margins */
  .mg-top-lg-lg {
    margin-top: var(--space-lg);
  }
  .mg-top-lg-3xl {
    margin-top: var(--space-3xl);
  }
  .mg-top-lg-5xl {
    margin-top: var(--space-5xl);
  }
  .mg-left-lg-4xl {
    margin-left: var(--space-4xl);
  }
  .mg-btm-lg-3xl {
    margin-bottom: var(--space-xxl);
  }

  /* Paddings */
  .pd-top-lg-lg {
    padding-top: var(--space-lg);
  }
}

/* xl screen size mq (1200px)*/
@media (min-width: 1200px) {
  /* Flex */
  .col-gap-xl-lg {
    column-gap: var(--space-lg);
  }

  /* Margins */
  .mg-top-lg-md {
    margin-top: var(--space-md);
  }

  /* Paddings */
  .pd-inline-xl-3xl {
    padding-inline: var(--space-3xl);
  }
}

@media (max-height: 700px) {
  .pd-top-hsm-sm {
    padding-top: var(--space-sm);
  }
  .row-gap-hsm-3xs {
    row-gap: var(--space-3xs);
  }
}
