.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

.col-gap-xs {
  column-gap: var(--space-xs);
}
.col-gap-sm {
  column-gap: var(--space-sm);
}
.col-gap-md {
  column-gap: var(--space-md);
}
.row-gap-xxs {
  row-gap: var(--space-xxs);
}
.row-gap-xxl {
  row-gap: var(--space-xxl);
}

.mg-top-sm {
  margin-top: var(--space-sm);
}
.mg-top-md {
  margin-top: var(--space-md);
}
.mg-top-lg {
  margin-top: var(--space-lg);
}
.mg-top-xl {
  margin-top: var(--space-xl);
}

.pd-sm {
  padding: var(--space-sm);
}
.pd-block-sm {
  padding-block: var(--space-sm);
}
.pd-inline-xs {
  padding-inline: var(--space-xs);
}
.pd-block-xs {
  padding-block: var(--space-xs);
}
.pd-block-sm {
  padding-block: var(--space-sm);
}
.pd-block-md {
  padding-block: var(--space-md);
}
.pd-inline-md {
  padding-inline: var(--space-md);
}
.pd-inline-lg {
  padding-inline: var(--space-lg);
}

.bg-neutral {
  background-color: hsl(var(--clr-neutral));
}

.mx-auto {
  margin-inline: auto;
}

.heading-1 {
  font-size: var(--fs-1);
}
.heading-5 {
  font-family: var(--ff-neutral);
  font-size: var(--fs-5);
  letter-spacing: var(--ls-3);
  color: hsl(var(--clr-neutral));
  font-weight: 400;
}

.heading-1,
.heading-5 {
  text-transform: uppercase;
}
