/* Flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
.col-gap-xs {
  column-gap: var(--space-xs);
}
.col-gap-sm {
  column-gap: var(--space-sm);
}
.col-gap-md {
  column-gap: var(--space-md);
}
.col-gap-lg {
  column-gap: var(--space-lg);
}
.row-gap-xxs {
  row-gap: var(--space-xxs);
}
.row-gap-xxl {
  row-gap: var(--space-xxl);
}

/* Margins */
.mx-auto {
  margin-inline: auto;
}
.mg-top-sm {
  margin-top: var(--space-sm);
}
.mg-top-md {
  margin-top: var(--space-md);
}
.mg-top-lg {
  margin-top: var(--space-lg);
}
.mg-top-xl {
  margin-top: var(--space-xl);
}

/* Paddings */
.pd-sm {
  padding: var(--space-sm);
}
.pd-block-sm {
  padding-block: var(--space-sm);
}
.pd-inline-xs {
  padding-inline: var(--space-xs);
}
.pd-block-xs {
  padding-block: var(--space-xs);
}
.pd-block-sm {
  padding-block: var(--space-sm);
}
.pd-block-md {
  padding-block: var(--space-md);
}
.pd-block-lg {
  padding-block: var(--space-lg);
}
.pd-block-xl {
  padding-block: var(--space-xl);
}
.pd-inline-md {
  padding-inline: var(--space-md);
}
.pd-inline-lg {
  padding-inline: var(--space-lg);
}
.pd-inline-3xl {
  padding-inline: var(--space-3xl);
}
.pd-top-md {
  padding-top: var(--space-md);
}
.pd-top-lg {
  padding-top: var(--space-lg);
}

/* Background colors */
.bg-neutral {
  background-color: hsl(var(--clr-neutral));
}

/* Headings */
.heading-1 {
  font-size: var(--fs-1);
}
.heading-5 {
  font-family: var(--ff-neutral);
  font-size: var(--fs-5);
  letter-spacing: var(--ls-3);
  color: hsl(var(--clr-neutral));
  font-weight: 400;
}
.heading-1,
.heading-5 {
  text-transform: uppercase;
}

/* Typography */
.txt-upper {
  text-transform: uppercase;
}
.txt-secondary {
  color: var(--clr-secondary);
}
.txt-ls-1 {
  letter-spacing: var(--ls-1);
}
.txt-fs-7 {
  font-size: var(--fs-7);
}

/* sm screen size mq (576px)*/
@media (min-width: 576px) {
  /* Flex */
  .row-gap-sm-4xl {
    row-gap: var(--space-4xl);
  }

  /* Margins */
  .mg-top-sm-xxl {
    margin-top: var(--space-xxl);
  }
}

/* lg screen size mq (992px)*/
@media (min-width: 992px) {
  /* Flex */
  .align-lg-end {
    align-items: end;
  }
  .flex-lg-row {
    flex-direction: row;
  }

  /* Margins */
  .mg-top-lg-lg {
    margin-top: var(--space-lg);
  }
  .mg-top-lg-5xl {
    margin-top: var(--space-5xl);
  }

  /* Paddings */
  .pd-top-lg-lg {
    padding-top: var(--space-lg);
  }
}

/* xl screen size mq (1200px)*/
@media (min-width: 1200px) {
  /* Flex */
  .col-gap-xl-lg {
    column-gap: var(--space-lg);
  }

  /* Margins */
  .mg-top-lg-md {
    margin-top: var(--space-md);
  }

  /* Paddings */
  .pd-inline-xl-3xl {
    padding-inline: var(--space-3xl);
  }
}
