/* --- CUSTOM PROPERTIES --- */
:root {
  /* Colors */
  --clr-primary: 230 35% 7%;
  --clr-secondary: 0 0% 100%;
  --clr-neutral: 231 77% 90%;

  /* Typography */

  /* Font family */
  --ff-primary: "Bellefair", serif;
  --ff-neutral: "Barlow Condensed", sans-serif;

  /* Font size */
  --fs-unit: 1rem; /*16px*/

  --fs-1: clamp(
    calc(var(--fs-unit) * 5),
    20vw,
    calc(var(--fs-unit) * 9.375)
  ); /*150px*/
  --fs-2: calc(var(--fs-unit) * 6.25); /*100px*/
  --fs-3: calc(var(--fs-unit) * 3.5); /*56px*/
  --fs-4: clamp(
    calc(var(--fs-unit) * 1.25),
    4vw,
    calc(var(--fs-unit) * 2)
  ); /*32px*/
  --fs-5: clamp(
    calc(var(--fs-unit) * 1),
    2.6vw,
    calc(var(--fs-unit) * 1.75)
  ); /*150px*/
  --fs-6: calc(var(--fs-unit) * 1); /*16px*/
  --fs-7: calc(var(--fs-unit) * 0.875); /*14px*/

  --fs-neutral: clamp(
    calc(var(--fs-unit) * 0.9375),
    3vw,
    calc(var(--fs-unit) * 1.125)
  ); /*18px*/

  /* Letter spacing */
  --ls-1: 2.35px;
  --ls-2: 2.7px;
  --ls-3: clamp(2.7px, 0.5vw, 4.75px);

  /* Spacing */
  --space-unit: 1rem; /*16px*/

  --space-xxxs: calc(var(--space-unit) * 0.75); /*12px*/
  --space-xxs: calc(var(--space-unit) * 1); /*16px*/
  --space-xs: calc(var(--space-unit) * 1.5); /*24px*/
  --space-sm: calc(var(--space-unit) * 1.75); /*28px*/
  --space-md: calc(var(--space-unit) * 2.25); /*36px*/
  --space-lg: calc(var(--space-unit) * 3); /*48px*/
  --space-xl: calc(var(--space-unit) * 3.375); /*54px*/
  --space-xxl: calc(var(--space-unit) * 5); /*80px*/
  --space-xxxl: calc(var(--space-unit) * 8.4375); /*135px*/
  --space-xxxxl: calc(var(--space-unit) * 9.625); /*154px*/
}
