/* Display */
.d-none {
  display: none;
}

/* Flex */
.flex {
  display: flex;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.justify-start {
  justify-content: start;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
.align-stretch {
  align-items: stretch;
}
.align-self-end {
  align-self: flex-end;
}
.col-gap-3xs {
  column-gap: var(--space-3xs);
}
.col-gap-xxs {
  column-gap: var(--space-xxs);
}
.col-gap-xs {
  column-gap: var(--space-xs);
}
.col-gap-sm {
  column-gap: var(--space-sm);
}
.col-gap-md {
  column-gap: var(--space-md);
}
.col-gap-lg {
  column-gap: var(--space-lg);
}
.col-gap-xl {
  column-gap: var(--space-xl);
}
.col-gap-xxl {
  column-gap: var(--space-xxl);
}
.col-gap-3xl {
  column-gap: var(--space-3xl);
}
.col-gap-4xl {
  column-gap: var(--space-4xl);
}
.row-gap-xxs {
  row-gap: var(--space-xxs);
}
.row-gap-3xs {
  row-gap: var(--space-3xs);
}
.row-gap-xs {
  row-gap: var(--space-xs);
}
.row-gap-sm {
  row-gap: var(--space-sm);
}
.row-gap-md {
  row-gap: var(--space-md);
}
.row-gap-xxl {
  row-gap: var(--space-xxl);
}

/* Margins */
.m-none {
  margin: none;
}
.mx-auto {
  margin-inline: auto;
}
.my-auto {
  margin-block: auto;
}
.mx-sm {
  margin-inline: var(--space-sm);
}
.mg-top-3xs {
  margin-top: var(--space-3xs);
}
.mg-top-xxs {
  margin-top: var(--space-xxs);
}
.mg-top-xs {
  margin-top: var(--space-xs);
}
.mg-top-sm {
  margin-top: var(--space-sm);
}
.mg-top-md {
  margin-top: var(--space-md);
}
.mg-top-lg {
  margin-top: var(--space-lg);
}
.mg-top-xl {
  margin-top: var(--space-xl);
}
.mg-top-xxl {
  margin-top: var(--space-xxl);
}
.mg-btm-sm {
  margin-bottom: var(--space-sm);
}
.mg-btm-md {
  margin-bottom: var(--space-md);
}
.mg-btm-lg {
  margin-bottom: var(--space-lg);
}
.mg-btm-xxl {
  margin-bottom: var(--space-xxl);
}
.mg-left-lg {
  margin-left: var(--space-lg);
}
.mg-right-xs {
  margin-right: var(--space-xs);
}

/* Paddings */
.pd-xxs {
  padding: var(--space-xxs);
}
.pd-xs {
  padding: var(--space-xs);
}
.pd-sm {
  padding: var(--space-sm);
}
.pd-md {
  padding: var(--space-md);
}
.pd-block-3xs {
  padding-block: var(--space-3xs);
}
.pd-block-xxs {
  padding-block: var(--space-xxs);
}
.pd-block-sm {
  padding-block: var(--space-sm);
}
.pd-inline-xs {
  padding-inline: var(--space-xs);
}
.pd-block-xs {
  padding-block: var(--space-xs);
}
.pd-block-md {
  padding-block: var(--space-md);
}
.pd-block-lg {
  padding-block: var(--space-lg);
}
.pd-block-xl {
  padding-block: var(--space-xl);
}
.pd-inline-md {
  padding-inline: var(--space-md);
}
.pd-inline-lg {
  padding-inline: var(--space-lg);
}
.pd-inline-xl {
  padding-inline: var(--space-xl);
}
.pd-inline-3xl {
  padding-inline: var(--space-3xl);
}
.pd-top-xs {
  padding-top: var(--space-xs);
}
.pd-top-sm {
  padding-top: var(--space-sm);
}
.pd-top-xxs {
  padding-top: var(--space-xxs);
}
.pd-top-md {
  padding-top: var(--space-md);
}
.pd-top-lg {
  padding-top: var(--space-lg);
}
.pd-btm-sm {
  padding-bottom: var(--space-sm);
}
.pd-btm-md {
  padding-bottom: var(--space-md);
}
.pd-btm-lg {
  padding-bottom: var(--space-md);
}
.pd-btm-xl {
  padding-bottom: var(--space-xl);
}
.pd-btm-xxl {
  padding-bottom: var(--space-xxl);
}
.pd-left-3xs {
  padding-left: var(--space-3xs);
}
.pd-left-xs {
  padding-left: var(--space-xs);
}
.pd-left-sm {
  padding-left: var(--space-sm);
}

/* Background colors */
.bg-neutral {
  background-color: hsl(var(--clr-neutral));
}
.bg-secondary {
  background-color: hsl(var(--clr-secondary));
}

/* Headings */
.heading-1 {
  font-size: var(--fs-1);
  line-height: clamp(100px, 20vw, 150px);
}
.heading-2 {
  font-size: var(--fs-2);
  line-height: 1.2;
}
.heading-3 {
  font-size: var(--fs-3);
}
.heading-4 {
  font-family: var(--ff-primary);
  font-size: clamp(calc(var(--fs-unit) * 1), 3.14vw, calc(var(--fs-unit) * 2));
  color: hsl(var(--clr-secondary), 50%);
}
.heading-5 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-5);
  letter-spacing: var(--ls-3);
  color: hsl(var(--clr-neutral));
  font-weight: 400;
}
.page-heading {
  font-family: var(--ff-secondary);
  font-size: var(--fs-5);
  letter-spacing: var(--ls-3);
}

.subheading-1 {
  font-family: var(--ff-primary);
  font-size: 1.75rem;
  color: hsl(var(--clr-secondary));
}
.subheading-2 {
  font-family: var(--ff-secondary);
  font-size: calc(var(--fs-unit) * 0.875);
  letter-spacing: var(--ls-1);
}

.heading-1,
.heading-4,
.heading-3,
.heading-5,
.page-heading,
.subheading-1,
.subheading-2 {
  text-transform: uppercase;
  white-space: nowrap;
}

/* Typography */
.ff-primary {
  font-family: var(--ff-primary);
}
.ff-secondary {
  font-family: var(--ff-secondary);
}
.txt-upper {
  text-transform: uppercase;
}
.txt-primary {
  color: hsl(var(--clr-primary));
}
.txt-secondary {
  color: hsl(var(--clr-secondary));
}
.txt-neutral {
  color: hsl(var(--clr-neutral));
}
.txt-ls-1 {
  letter-spacing: var(--ls-1);
}
.txt-fs-5 {
  font-size: var(--fs-5);
}
.txt-fs-7 {
  font-size: var(--fs-7);
}
.txt-align-start {
  text-align: start;
}

/* Core */
.underlined,
.hover-underlined {
  position: relative;
}
.underlined::after,
.hover-underlined::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: currentColor;
  position: absolute;
  bottom: 0;

  transition: transform 150ms ease-out;
}
.hover-underlined::after {
  transform: scaleX(0);
}

.hover-underlined:hover::after,
.underlined::after {
  transform: scaleX(1);
}

.side-marked::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 5px;
  background-color: currentColor;
  margin-left: var(--space-3xs);
}

.border {
  border-style: solid;
}

.border-1 {
  border-width: 1px;
}
/* Border */
.border-secondary {
  border-color: hsl(var(--clr-secondary));
}

/* Hover */
.hover-bg-secondary:hover {
  background-color: hsl(var(--clr-secondary));
}
.hover-txt-primary:hover {
  color: hsl(var(--clr-primary));
}

.round {
  border-radius: 50%;
}
.square {
  aspect-ratio: 1;
}

.translate-x-100 {
  transform: translateX(100%);
}
.translate-x-0 {
  transform: translateX(0);
}

/* sm screen size mq (576px)*/
@media (min-width: 576px) {
  /* Flex */
  .flex-sm-row {
    flex-direction: row;
  }
  .row-gap-sm-xxs {
    row-gap: var(--space-xxs);
  }
  .row-gap-sm-xs {
    row-gap: var(--space-xs);
  }
  .row-gap-sm-4xl {
    row-gap: var(--space-4xl);
  }

  /* Margins */
  .mg-top-sm-xxl {
    margin-top: var(--space-xxl);
  }
  .mg-top-sm-sm {
    margin-top: var(--space-sm);
  }
  .mg-top-sm-md {
    margin-top: var(--space-md);
  }
  .mg-top-sm-lg {
    margin-top: var(--space-lg);
  }
  .mg-btm-sm-md {
    margin-bottom: var(--space-md);
  }
  .mg-btm-sm-lg {
    margin-bottom: var(--space-lg);
  }
  .mg-btm-sm-xl {
    margin-bottom: var(--space-xl);
  }
  .mg-left-sm-sm {
    margin-left: var(--space-sm);
  }
  .mg-left-sm-md {
    margin-left: var(--space-md);
  }
  .mg-left-sm-lg {
    margin-left: var(--space-lg);
  }
  .pd-btm-sm-xxl {
    padding-bottom: var(--space-xxl);
  }

  /* Typography */
  .txt-align-sm-start {
    text-align: start;
  }
}

/* md screen size mq (768px) */
@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row;
  }
  .flex-md-col {
    flex-direction: column;
  }
  .flex-md-row {
    flex-direction: row;
  }
  .flex-md-col-reverse {
    flex-direction: column-reverse;
  }
  .align-md-start {
    align-items: stretch;
  }
  .align-md-stretch {
    align-items: stretch;
  }
  .justify-md-between {
    justify-content: space-between;
  }
  .row-gap-md-xs {
    row-gap: var(--space-xs);
  }
  .row-gap-md-lg {
    row-gap: var(--space-lg);
  }
  .row-gap-md-xl {
    row-gap: var(--space-xl);
  }
  .col-gap-md-sm {
    column-gap: var(--space-sm);
  }

  .d-md-none {
    display: none;
  }

  .m-md-none {
    margin: 0;
  }
  .mg-top-md-sm {
    margin-top: var(--space-sm);
  }
  .mg-top-md-md {
    margin-top: var(--space-md);
  }
  .mg-top-md-lg {
    margin-top: var(--space-lg);
  }
  .mg-top-md-xl {
    margin-top: var(--space-xl);
  }
  .mg-top-md-xxl {
    margin-top: var(--space-xxl);
  }
  .mg-top-md-3xl {
    margin-top: var(--space-3xl);
  }
  .mg-top-md-xxl {
    margin-top: var(--space-xxl);
  }
  .mg-btm-md-md {
    margin-bottom: var(--space-md);
  }
  .mx-md-sm {
    margin-inline: var(--space-3xl);
  }

  .pd-md-xs {
    padding: var(--space-xs);
  }
  .pd-md-sm {
    padding: var(--space-sm);
  }
  .pd-md-md {
    padding: var(--space-md);
  }
  .pd-btm-md-xl {
    padding-bottom: var(--space-xl);
  }
  .pd-btm-md-3xl {
    padding-bottom: var(--space-3xl);
  }

  .justify-md-start {
    justify-content: start;
  }
}

/* lg screen size mq (992px)*/
@media (min-width: 992px) {
  /* Flex */
  .align-lg-start {
    align-items: start;
  }
  .align-lg-end {
    align-items: end;
  }
  .align-lg-end {
    align-items: end;
  }
  .justify-lg-between {
    justify-content: space-between;
  }
  .flex-lg-row {
    flex-direction: row;
  }
  .flex-lg-col {
    flex-direction: column;
  }
  .flex-lg-row-reverse {
    flex-direction: row-reverse;
  }
  .row-gap-lg-3xs {
    row-gap: var(--space-3xs);
  }
  .row-gap-lg-xxl {
    row-gap: var(--space-xxl);
  }
  .row-gap-lg-3xs {
    row-gap: var(--space-3xs);
  }

  /* Margins */
  .mg-top-lg-none {
    margin-top: 0;
  }
  .mg-top-lg-3xs {
    margin-top: var(--space-3xs);
  }
  .mg-top-lg-lg {
    margin-top: var(--space-lg);
  }
  .mg-top-lg-3xl {
    margin-top: var(--space-3xl);
  }
  .mg-top-lg-5xl {
    margin-top: var(--space-5xl);
  }
  .mg-left-lg-4xl {
    margin-left: var(--space-4xl);
  }
  .mg-btm-lg-3xl {
    margin-bottom: var(--space-xxl);
  }
  /* Margins */
  .mg-top-lg-xs {
    margin-top: var(--space-xs);
  }
  .mg-top-lg-md {
    margin-top: var(--space-md);
  }
  .mg-top-lg-lg {
    margin-top: var(--space-lg);
  }
  .mg-top-lg-xl {
    margin-top: var(--space-xl);
  }
  .mg-top-lg-xxl {
    margin-top: var(--space-xxl);
  }

  .mx-lg-none {
    margin-inline: 0;
  }
  .mx-lg-xl {
    margin-inline: var(--space-4xl);
  }
  .mx-lg-12 {
    margin-inline: 12%;
  }

  .my-lg-none {
    margin-block: 0;
  }

  /* Paddings */
  .pd-top-lg-lg {
    padding-top: var(--space-lg);
  }
  .pd-lg-md {
    padding: var(--space-md);
  }
  .pd-btm-lg-none {
    padding-bottom: 0;
  }
}

/* xl screen size mq (1200px)*/
@media (min-width: 1200px) {
  /* Flex */
  .col-gap-xl-lg {
    column-gap: var(--space-lg);
  }
  .row-gap-lg-none {
    row-gap: 0;
  }
  .row-gap-xl-none {
    row-gap: 0;
  }
  .row-gap-xl-md {
    row-gap: var(--space-md);
  }
  .row-gap-xl-lg {
    row-gap: var(--space-lg);
  }
  .flex-xl-row {
    flex-direction: row;
  }
  .align-xl-start {
    align-items: flex-start;
  }

  /* Paddings */
  .pd-inline-xl-xxl {
    padding-inline: var(--space-3xl);
  }
  .pd-inline-xl-3xl {
    padding-inline: var(--space-3xl);
  }
  .pd-btm-lg-md {
    padding-bottom: var(--space-md);
  }
  .pd-btm-xl-none {
    padding-bottom: 0;
  }
  .pd-btm-xl-lg {
    padding-bottom: var(--space-lg);
  }
  .mg-top-xl-none {
    margin-top: 0;
  }
  .mg-left-xl-4xl {
    margin-left: var(--space-4xl);
  }
  .mg-top-xl-xs {
    margin-top: var(--space-xs);
  }
  .mg-top-xl-xl {
    margin-top: var(--space-xxl);
  }
}

@media (min-width: 992px) and (min-height: 750px) {
  .pd-top-wlg-hmd-md {
    padding-top: var(--space-md);
  }
  .pd-top-wlg-hmd-lg {
    padding-top: var(--space-lg);
  }
  .mg-top-wlg-hmd-sm {
    margin-top: var(--space-sm);
  }
  .mg-top-wlg-hmd-lg {
    margin-top: var(--space-lg);
  }
  .mg-top-wlg-hmd-xl {
    margin-top: var(--space-xl);
  }
  .mg-top-wlg-hmd-xxl {
    margin-top: var(--space-xl);
  }
  .mg-top-wlg-hmd-3xl {
    margin-top: var(--space-3xl);
  }
  .mg-top-wlg-hmd-4xl {
    margin-top: var(--space-4xl);
  }
  .mg-top-wlg-hmd-5xl {
    margin-top: var(--space-5xl);
  }
  .mg-top-wlg-hmd-5xl {
    margin-top: var(--space-5xl);
  }
  .row-gap-hsm-3xs {
    row-gap: var(--space-3xs);
  }
  .row-gap-wlg-hmd-xxs {
    row-gap: var(--space-xxs);
  }
  .row-gap-wlg-hmd-sm {
    row-gap: var(--space-sm);
  }
  .row-gap-wlg-hmd-xl {
    row-gap: var(--space-xl);
  }
}

@media (min-width: 992px) and (min-height: 850px) {
  .row-gap-wlg-hlg-md {
    row-gap: var(--space-md);
  }

  .mg-top-wlg-hlg-xl {
    margin-top: var(--space-xl);
  }
  .mg-top-wlg-hlg-xxl {
    margin-top: var(--space-xxl);
  }
  .mg-top-wlg-hlg-3xl {
    margin-top: var(--space-3xl);
  }
  .mg-top-wlg-hlg-5xl {
    margin-top: var(--space-5xl);
  }
}
