/* --- DEFAULT STYLES --- */
body {
  font-family: var(--ff-neutral);
  font-size: var(--fs-neutral);
  font-weight: 400;
  color: hsl(var(--clr-neutral));
  background-color: hsl(var(--clr-primary));
  text-align: center;

  position: relative;
}

p {
  line-height: clamp(25px, 5vw, 34px);
}

@media (min-width: 992px) {
  body {
    text-align: start;
  }
}

::selection {
  background-color: hsl(var(--clr-secondary));
  color: hsl(var(--clr-primary));
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-primary);
  font-weight: 400;
  color: hsl(var(--clr-secondary));
  text-transform: uppercase;

  line-height: 1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

hr {
  display: block;
  width: 100%;
  border-top: 1px solid currentColor;
}

.wallpaper {
  position: absolute;
  inset: 0;
  z-index: -100;
  background-repeat: no-repeat;
  background-size: cover;
}
