/* --- DEFAULT STYLES --- */
body {
  font-family: var(--ff-neutral);
  font-size: var(--fs-neutral);
  color: hsl(var(--clr-neutral));
  background-color: hsl(var(--clr-primary));
  background-image: url("./assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-primary);
  color: hsl(var(--clr-secondary));
  text-transform: uppercase;
}
